<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Welcome to Quoting Dojo!</h1>
	<form action='/quotes' method='post'>
		<h3>Your Name: <input type="text" name="name"></h3>
		<h3>Your Quote: <input type="text" name="quote"></h3>
		<button type="submit">Add my Quotes!</button>
	</form>
	<a href="/quotes" method='get'><button>Skip to Quotes!</button></a>
</body>
</html>